<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2> About </h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, fugiat? Eveniet quos quidem veniam eaque, sed officiis ea possimus, vero suscipit dignissimos libero facere iusto quisquam, est eum fugiat velit!</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui explicabo rem quo quos, eveniet neque corrupti ut animi dolorum eius non minima tenetur ea, iste labore! Aut eos delectus dolorem.</p>
        </div>
       
        <%- include("./partials/footer.ejs") %>
    </body>

</html>